# Python cache
__pycache__/
*.py[cod]
*.so
*.log

# Jupyter notebook outputs
*.ipynb_checkpoints
*.ipynb
output.png

# Virtual environment
venv/
.env

# Poetry
poetry.lock

# VSCode / IDE
.vscode/
.idea/

# Docker
*.tar
*.pid
*.db
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
