fastapi==0.115.8
uvicorn==0.34.0
python-dotenv==1.0.1
langchain-core==0.3.60
langgraph==0.2.70
langchain-community==0.3.17
langchain==0.3.18
psycopg2-binary==2.9.10
langchain-google-genai==2.1.4
jinja2==3.1.6
langgraph-checkpoint-redis==0.0.8